doctype html 
html 
    h1 Selamat Datang di Express JS F1
    img(src="/images/formula-1-red-bull-racing-laun-2.jpg", width='800')
    a(href='https://www.redbullracing.com/int-en', targer='_blank') formula 1 red bull

    h2 Nama saya :(Muhammad Aldo Nugraha)
    h2 npm :(2125240117)